# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Windows
/windows/flutter/
/windows/out/
/windows/build/
/windows/.vs/
/windows/Debug/
/windows/Release/

# Linux
/linux/flutter/
/linux/build/

# macOS
/macos/Flutter/
/macos/Pods/
/macos/build/
/macos/*.mode1v3
/macos/*.mode2v3
/macos/*.moved-aside
/macos/*.pbxuser
/macos/*.perspectivev3
/macos/**/*sync/
/macos/.sconsign.dblite
/macos/.tags*
/macos/.vagrant/
/macos/DerivedData/
/macos/Icon?
/macos/Pods/
/macos/.symlinks/
/macos/profile
/macos/xcuserdata
.gradle
